#results {
    h2 {
        font-size: 22px;
        font-weight: bold;
        text-decoration: underline;
    }
    ul, li, h3, p, h4 {
        margin: 10px;
    }
    li {
        margin-bottom: 30px;
    }
    h3 {
        font-size: 20px;
        text-decoration: underline;
    }
    h4 {
        font-size: 20px;
        text-decoration: underline;
    }
    p {
        font-size: 18px;
    }
}